<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-12">
      <div class="container-event card card-body">
        <div id="events">
          <div class="fc-event">Örnek Event</div>
          <div class="fc-event">Örnek Event</div>
          <div class="fc-event">Örnek Event</div>
          <div class="fc-event">Örnek Event</div>
          <div class="fc-event">Örnek Event</div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-12">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
</div>
  
<!--{{date | date: 'fullDate'}}-->