<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card card-body">
        <div id="events">
          <div class="fc-event">Örnek Event</div>
          <div class="fc-event">Örnek Event</div>
          <div class="fc-event">Örnek Event</div>
          <div class="fc-event">Örnek Event</div>
          <div class="fc-event">Örnek Event</div>
        </div>
        <button class="btn btn-primary" type="button">Yeni Etkinlik</button>
      </div>
    </div>
    <div class="col-md-9">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
</div>
  
<!--{{date | date: 'fullDate'}}-->